/* Author: Thanwa Chaichankanchang */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --main-neon: #50c9c3;
    --main-bg: #09203f;
}

body {
    padding: 10px;
    background-color: var(--main-bg);
}

.main-heading {
    text-align: center;
    margin: 1rem;
    color: var(--main-neon);
}

.menu-bar {
    display: flex;
    justify-content: space-between;
    padding: 0 3em;
    height: 60px;
    align-items: center;
}

.search {
    font-size: 1em;
    padding-top: 2px;
    padding-bottom: 2px;
}

#search-btn {
    padding-left: 5px;
    padding-right: 5px;
}

#logout {
    padding: 5px 10px;
    font-size: 1em;
    font-weight: bold;
    border-radius: 8px;
}

.main-container {
    display: flex;
    height: 75vh;
}

.sidebar {
    min-width: 180px;
    border-right: 2px solid white;
    padding: 40px;
}

.filter {
    list-style: none;
    margin-bottom: 25px;
    color: var(--main-neon);
}

.filter-btn{
    text-decoration: none;
    color: var(--main-neon);
    border: 2px solid var(--main-neon);
    padding: 5px 13px;
    border-radius: 5px;
    background-color: var(--main-bg);
    font-size: 1em;
}

.filter-btn:hover, .active {
    background-color: var(--main-neon);
    color: white;
}
.content {
    margin: 1em;
    color: var(--main-neon);
    width: 100%
}

#data-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
}

th {
    background-color: #467cc4;
    padding: 12px 8px;
    text-align: left;
    border: 1px solid black;
    color: white;

}

td {
    border: 1px solid black;
    padding: 8px;
    color: black;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

button {
    cursor: pointer;
}

footer {
    margin: 1em;
    padding: 10px;
}

footer p {
    text-align: center;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    font-style: italic;
}