* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
}

.main-heading {
    text-align: center;
    margin: 1rem;
}

.main-container {
    display: flex;
}

.sidebar {
    margin: 1em;
}

.filter {
    list-style: none;
    margin-bottom: 10px;
}

.content {
    margin: 1em;
}

footer {
    margin: 1em;
}
footer p {
    text-align: center;
}