* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  background: #09203f;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

h1 {
  color: #50c9c3;
  margin-top: 200px;
}

.department {
  display: flex;
  justify-content: center;
  user-select: none;
  gap: 30px;
}

.department p a {
  background-color: #50c9c3;
  color: white;
  padding: 20px 10px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}

.welcome {
  color: #50c9c3;
  font-size: 20px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: white;
}

footer {
  padding: 10px;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  color: rgba(255, 255, 255, 0.8);
  font-style: italic;
  border-radius: 5px;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  border-color: #50c9c3;
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
